.aboutContainer{ 
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
    padding: 0 25px;
    position: relative;
}

.leftsection{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.leftsection img {
    height: 400px;
    width: auto;
    opacity: 0.75;
    border: 4px solid var(--text-color);
    border-radius: 75px;
    margin: 10px;
    margin-left: -15px;
}

.rightsection {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 50%;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
  }
  
  .tab {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--fun-font);
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .tab:hover {
    border-color: 2px solid var(--text-color);
  }
  
  .tab.active {
    border-color: 2px solid var(--text-color);
  }
  
  .tabContent {
    margin-top: 20px;
    font-size: 16px; 
    overflow-y: auto; 
    height: 300px; 
  }

  .content{
    font-size: 15px;
  }
  .tabContent p {
    text-indent: 20px; /* Adjust the indentation amount as needed */
  }
  

@media screen and (max-width: 900px) {
    .leftsection img {
        height: 275px;

    }
    .aboutContainer {
        flex-direction: column; /* Stack sections vertically on smaller screens */
        height: auto; /* Allow container to expand as needed */
        padding: 25px; /* Increase padding for better spacing */
      }
    
      .leftsection,
      .rightsection {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Adjust max-width for full coverage */
      }
    
      .tab {
        font-size: 20px; /* Reduce tab font size on smaller screens */
      }
    
      .tabContent {
        font-size: 14px; /* Reduce content font size on smaller screens */
      }    
}
