.name{
    font-size: 100px;
    font-family: var(--fun-font);
    border: 2px solid gray;
    padding: 20px;
    box-shadow: 3px 3px 0px black;
}

.nameContainer{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
 
.window {
    width: 75vh;
    height: 50vh;
    margin: auto;
    margin-top: 50px;
}

.titlebartext{
    font-size: 25px;
    color: white;
    transform: var(--wide-text);
    margin-left: 15px;
}


.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
}

.title-bar-controls {
    display: flex;
    gap: 5px;
}

.title-bar-controls button {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.title-bar-controls button:hover {
    background-color: darkgray;
}

.windowbody {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 3px;
    font-size: 30px;
    margin: 0px 0;
}

.windowbody p {
    margin: 0px 0;
    padding: 0; 
    line-height: 1; 
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
}

.avatar img{
    height: 100px;
    width: 100px;
    margin-top: -8vh;
}

.playingcaption {
    font-size: 16px;
}


@media screen and (max-width: 1000px) {
    .window {
        width: 80%;
        height: 65vh;
    }
    .avatar img{
        height: 85px;
        width: 85px;
        margin-top: 8vh;
    }
}

@media screen and (max-height: 975px) {
    .window {
        width: 80%;
        height: 80%;
        padding-bottom: 15px;
    }

}