html,
body {
    --color-background: #3B3A3A;
    --color-text: #D9D9D7;
    margin: 5px;
    padding: 5px;
    font-family: "playfair-display", serif;
    font-weight: 400;
    background: var(--color-background);

}

h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--color-text);
    text-align: center;
}

#header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: var(--color-background);
    padding: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-text);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#about {
    color: var(--color-text);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
}

.face-image img{
    width: 100%; 
    max-width: 400px; 
    border-radius: 30px;
    margin-right: 100px;
}

.about-me {
    width: 65%; 
    font-size: 14px;
    padding: 10px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 20px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-text);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links:not(:last-child) {
    margin-right: 20px;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    color: var(--color-text);
    list-style: none;
    font-size: 12px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: var(--color-text);
}

.portfolio-box {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    height: 200px;
    background-color: var(--color-text); 
    border-radius: 10px; 
    height: auto;
    text-align: center;
}

.contact{
    padding: 20px 20px; 
    font-size: 30px;
    color: var(--color-text);
    text-align: center;
}

.sub-header {
    font-size: 20px;
    font-weight: bold;
}

.sub-text {
    font-size: 14px;
    color: var(--color-background);
}

.link-heading a {
    color: var(--color-background);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
}


