  .custombutton {
    all: unset;
    border: 2px outset #dfdfdf;
    background: #c0c0c0;
    padding: 1px;
    cursor: pointer;
    margin: 4px;
    margin-right: 10px;
    font-size: 16px;

  }

  .link {
    color: black;
    text-decoration: none;
  }

  .customtitlebar {
    position: fixed; /* Keep it at the top */
    top: 0;
    left: 0;
    width: 100%; /* Extend full width */
    height: 35px; /* Standard Windows 98 title bar height */
    background: #aeaeae; /* Match Windows 98 style */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    border-bottom: 2px solid #c8c8c8; /* Optional for a more defined look */
    border: 2px inset #7c7c7c;
  }

  .customtitlebarcontrols {
    display: flex;
  }
  
  .custombutton:hover {
    background: #a0a0a0;
  }
  
@media screen and (max-width: 1000px) {
    .navItem a {
        margin: 10px;
        font-size: 12px;
    }
    .name{
        font-size: 15px;
        margin-right: 2px;
    }
}
  